In [21]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

In [40]:
#1-1
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

def grade(name):
    if name in marks:
        return marks[name]
    else:
        print('you cannot find this student\'s name')
        
grade('Arthur')

77

In [41]:
#1-1
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

def grade(name):
    if name in marks:
        return marks[name]
    else:
        print('you cannot find this student\'s name')
        
grade('Kim')

you cannot find this student's name

In [47]:
#1-2
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

def avg_grade():
    sum = 0
    for k in marks.values():
        sum += k
    average_grade = sum / len(marks.values())
    return average_grade

avg_grade()

75.2

In [62]:
#2 when n does not change by iteration, we use a break command; 
# I assign n with 3 and 9

def while_loop(n, num):
    while n < num:
        print(n,n**2)
        break
    if n >= num:
        print("n is greater than the num value")
        
while_loop(3,8)
while_loop(9,8)

3 9
n is greater than the num value

In [79]:
#3

def while_add_all(num):
    sum = 0
    n = 0
    while n <= num:
        sum += n
        n += 1
    print(sum)
    
while_add_all(4)
# 1 + 2 + 3 + 4 = 10

10

In [81]:
#4

def for_add_all(num):
    sum = 0
    n = 0
    for n in range (1, num+1):
        sum += n
        print(sum)
        
for_add_all(6)

1
3
6
10
15
21

In [111]:
#5
import statistics

def cal_list():
    list = []
    for n in range(1,101):
        list.append(n)
    print(list)
    return (statistics.mean(list),sum(list),statistics.stdev(list))

cal_list()
# mean, sum, and standard deviation

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

(50.5, 5050, 29.011491975882016)

In [122]:
# 6

def minimal(a, b, c, d):
    list = [a,b,c,d]
    s = a
    for k in list:
        if s > k:
            s = k
        else:
            continue
    print(s)

minimal(2,3,1,4)
# the minimal will return 1

1

In [125]:
# 7

def string_conc(x,y,z):
    string = x + y + z
    print(string)
    
string_conc("I","love","you")

Iloveyou